<div id="content-desktop" class="my-5">
    <div class="container">
        <div id="carouselExampleControls" class="carousel"
             data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in trick.images %}
                    <div class="{% if loop.first %} carousel-item active {% else %} carousel-item {% endif %}">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="{{ asset('uploads/images/'~image.src) }}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="{% if loop.first %} carousel-item active {% else %} carousel-item {% endif %}">
                        <div class="card">
                            <div class="img-wrapper">
                                <embed src="{{ video.src }}" allowfullscreen="true"
                                       class="w-100"
                                       height="h-100">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon"
                                                          aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                                                    <span class="carousel-control-next-icon"
                                                          aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
