{% for image in trick.images %}
    <div class="{% if loop.first %} carousel-item active {% else %} carousel-item {% endif %}">
        <div class="card">
            <div class="img-wrapper">
                <img src="{{ asset('build/images/'~image.src) }}"
                     alt="">
            </div>
            <div class="card-body">
                <div class="btn-group mb-2" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-light"
                            id="showFormImage">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-light"><a
                                href="javascript:void(0)"
                                onclick="deleteImage({{ image.id }})">
                            <i class="bi bi-trash-fill"></i></a></button>
                </div>
                <div class="editImageTrick">
                    <form method="post" action="{{ path('media_image_edit', {'id' : image.id }) }}">
                        <div class="input-group">
                            <input type="file" name="src" class="form-control form-control-sm"
                                   aria-describedby="editImage"
                                   aria-label="Upload" required>
                            <button class="btn btn-sm btn-outline-secondary" type="submit">envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
