{% for video in trick.videos %}
    <div class="{% if loop.first %} carousel-item active {% else %} carousel-item {% endif %}">
        <div class="card">
            <div class="img-wrapper">
                <embed src="{{ video.src }}" allowfullscreen="true"
                       class="w-100 me-2" height="h-100">
            </div>
            <div class="d-flex justify-content-end">
                <div class="btn-group m-3 me-3" role="group"
                     aria-label="Basic outlined example">
                    <form class="editVideoTrick" method="post"
                          action="{{ path('media_video_edit', {'id' : video.id }) }}">
                        <div class="input-group">
                            <input type="text" name="src" value="{{ video.src }}" class="form-control" id="editVideo"
                                   aria-describedby="editVideo"
                                   aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="submit" id="editVideo">Envoyer</button>
                        </div>
                    </form>
                    <button type="button" class="btn btn-light"
                            id="showFormVideo"><i
                                class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-light"><a
                                href="javascript:void(0)"
                                onclick="deleteVideo({{ video.id }})"><i
                                    class="bi bi-trash-fill"></i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
