{% extends 'frontoffice/template.html.twig' %}

{% block title %} Détails d'un trick {% endblock title %}

{% block stylesheet %}
    {{ encore_entry_link_tags('frontoffice') }}
{% endblock stylesheet %}

{% block content %}
    <section class="min-vw-100 min-vh-100">
        {% for trick in trickDetails %}
            {% for media in trick.medias %}
                {% if media.type.id == 1 %}
                    {% if loop.first %}
                        <img src="{{ asset('build/images/'~media.src) }}" class="min-vw-100 min-vh-100 img-fluid"
                             alt="">
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>
    <section class="m-5 text-center">
        <!-- Trigger the modal with a button -->
        <button type="button" class="load-more text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Détails
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">.col-md-4</div>
                                <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
                                <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    Level 1: .col-sm-9
                                    <div class="row">
                                        <div class="col-8 col-sm-6">
                                            Level 2: .col-8 .col-sm-6
                                        </div>
                                        <div class="col-4 col-sm-6">
                                            Level 2: .col-4 .col-sm-6
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
