{% extends 'backoffice/layout.html.twig' %}

{% block title %} Tableau de bord {% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="text-center">
            <p class=""><b>Bienvenue dans votre espace d'administration</b></p>
            <p>Sur cette espace, vous pouvez gérer :</p>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">- Les figures</li>
                <li class="list-group-item">- Les messagees</li>
                <li class="list-group-item">- Les utilisateurs</li>
            </ul>
        </div>
    </div>
{% endblock content %}