<h1>Bienvenue {{ username }} !</h1>
<p>
    Afin que vous puissiez vous connecter à votre compte SnowTricks, vous devez activer votre compte en cliquant sur le
    lien ci-dessous
</p>
<p>
    <a href="{{ url('app_account_confirmation', {'token' : token }) }}">Cliquer ici pour activer votre compte</a>
    (Ce lien est valable jusqu'au : {{ expiration_date|date("d M") }})
</p>
