<h1>Bienvenue {{ username }} !</h1>

<p>
    <a href="{{ url('app_reset_password', {'token' : token, 'username' : username }) }}">Cliquer ici pour réinitialiser
        votre mot de passe</a>
    (Ce lien est valable jusqu'au : {{ expiration_date|date("d M") }})
</p>
