{% extends 'frontoffice/template.html.twig' %}

{% block title %} Error 500 {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <h1>Message with id 1241 is not found !</h1>
                    <p class="text-end">
                        <a href="{{ path('app_homepage') }}">Retour à l'accueil</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
